<div class="top_actions">
    <button class="theme_toggle" (click)="theme.toggle()" title="Alternar tema">
        {{ theme.isDarkTheme ? '🌙' : '☀️' }}
    </button>
    <button class="theme_toggle" (click)="goToMinhasListas()" title="Minhas Listas">
        📋
    </button>
    <button class="theme_toggle" (click)="logout()" title="Sair">
        🚪
    </button>
</div>

<section class="container">
    <div class="home_header">
        <h1>Bem-vindo à sua lista!</h1>
        <div class="greeting">{{ greeting }}</div>
    </div>

    @if (isEditingTitle) {
    <div class="list_title_container">
        <input 
            type="text" 
            class="list_title_input" 
            [(ngModel)]="listTitle"
            placeholder="Dá um título à lista... (ex: Compras, Trabalho)" />
        <button class ="btn_confirm_title" (click)="confirmTitle()" title="Confirmar título">✔️</button>
    </div>
    } @else {
        <div class="list_title_display" (click)="isEditingTitle = true" title="Editar título">
             <span>{{ listTitle }}</span>
             <span class="edit_title_icon">✏️</span>
        </div>
    }

    <div class="task_input_container">
        <input 
            type="text" 
            class="task_input" 
            [(ngModel)]="newTaskTitle" 
            placeholder="Adicione um novo item..."
            (keyup.enter)="add_task()">
        <button (click)="add_task()">+</button>
    </div>

    <ul class="task_list">
        @for (task of tasks; track task.id) {
        <li class="task_item">
            <div class="task_content">
                @if (editingTaskId === task.id) {
                <input type="text" class="editing_task_input" [(ngModel)]="editingText"
                    (keyup.enter)="confirmEdit(task.id)" />
                } @else {
                <span [class.completed_task]="task.completed">{{ task.text }}</span>
                }
            </div>

            <div class="task_actions">
                @if (editingTaskId === task.id) {
                <button (click)="confirmEdit(task.id)">&#10004;</button>
                } @else {
                <button (click)="startEdit(task)">&#9998;</button>
                }
                <button (click)="deleteTask(task.id)">&#128465;</button>
                <button (click)="toggleTask(task.id)">
                    {{ task.completed ? '❌' : '✔️' }}
                </button>
            </div>
        </li>
        }
    </ul>

    <div class="progress_container">
        <div class="progress_bar" [style.width.%]="progressValue"></div>
    </div>

    <div class="save_list_container">
        @if (saveMessage) {
        <p class="save_message">{{ saveMessage }}</p>
        }
        <button class="btn_new_list" (click)="newList()" title="Limpar e começar nova lista ">🆕 Nova Lista</button>
        <button class="btn_save_list" (click)="saveList()" [disabled]="!tasks.length">
            💾 Guardar Lista
        </button>
    </div>
</section>